body {
    background: url(../images/bg.jpeg) no-repeat center center fixed !important;
    background-size: cover !important;
    font-family: "Roboto", "Roboto Condensed", sans-serif !important;
}
.z-depth-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);
}

.z-depth-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.24);
}

#content-container {
    padding-bottom: 5%;
}

.m-nav {
    border: 0 !important;
    background-color: #fffff6 !important;
}

#navbar>.navbar-center {
    float: none;
    display: inline-block;
    margin-right: 180px;
}

#navbar.nav-holder {
    text-align: center;
    margin-bottom: -5px;
}

.m-header {
    overflow: hidden;
}

.static-footer {
    margin: 0 !important;
    position: fixed;
    bottom: -10px;
    left: 0;
    right: 0;
}

.static-footer footer {
   padding: 0;
}

.box {
    margin: 15px 0;
}

.top-box-md {
    margin: 15px 0;
}


@media (min-width: 992px) {
    .top-box-md {
        margin-top: 80px;
        margin-bottom: 15px;
    }
    #control-box {
        position: fixed;
        right: 1.5em;
    }
}

.top-box-sm {
    margin: 15px 0;
}

@media (max-width: 450px), (max-height: 450px){
    .static-footer {
        display: none;
    }
    aside {
        bottom: -15px !important;
    }
}

@media (min-width: 768px) {
    .top-box-sm {
        margin-top: 80px;
        margin-bottom: 15px;
    }
}

.top-box-xs {
    margin-top: 80px;
    margin-bottom: 15px;
}

#pagecontainer {
    padding-bottom: 20%;
}

@media (min-width: 992px) {
    .top-box-xs {
        padding: 0;
    }
}

@media (max-width: 768px) {
    aside {
        position: fixed !important;
        bottom: 65px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    aside {
        position: fixed !important;
        bottom: 65px;
        width: 750px !important;
    }
}

.content {
    background-color: #fffff6;
}

.book-content {
    background-color: #fffff6;
    color: rgba(0,0,0,0.85);
    padding-left: 0 !important;
    height: 410px;
    min-width: 220px;
}

.book-content:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.17), 0 12px 16px rgba(0,0,0,0.23);
}

.book-content p {
    font-family: "roboto condensed";
    padding: 3px 10px;
}

.look-inside {
    background: rgba(255,255,0,0.8);
    color: rgba(0,0,0,0.8);
    width: 100px;
    position: absolute;
    right: 0;
    top: 150px;
    height: 28px;
}

.search {
    margin-top: 60px;
    background: #fffff6;
    margin-bottom: -160px;
    z-index: 10;
    padding: 15px;
}

form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

form p {
    text-align: center;
    margin-bottom: -10px;
}

form div {
    width: 90%;
    text-align: center;
}

input[type=search], input[type=date], input[type=text] {
    border: 0;
    width: 90%;
    border-bottom: 2px solid #aaa;
    height: 30px;
    margin: 10px !important;
}

@media (min-width: 992px) {
    form div {
        width: 45%;
        text-align: center;
    }
}

input[type=submit] {
    border: 0;
    width: 90%;
    height: 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 2px 3px rgba(0,0,0,0.23);    
}

input[type=search]:hover, input[type=text]:hover, input[type=date]:hover{
    width: 95%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.17), 0 6px 8px rgba(0,0,0,0.23);
}

input[type=submit]:hover {
    width: 95%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.17), 0 6px 8px rgba(0,0,0,0.23);
}

input[type=search]:focus, input[type=text]:focus, input[type=date]:focus {
    width: 95%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.17), 0 6px 8px rgba(0,0,0,0.23);
}

input[type=range]::-webkit-slider-thumb { 
    -webkit-appearance: none;
    margin-top: -6px;
    border: 2px solid;
    border-color: silver;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17), 0 2px 3px rgba(0,0,0,0.23); 
}

input[type=range]::-webkit-slider-thumb:hover {
    margin-top: -8px;
    width: 25px;
    height: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.17), 0 4px 6px rgba(0,0,0,0.23);
}

input[type=range] {
    -webkit-appearance: none;
    height: 15px;
    margin: 5px;
}

output {
    display: inline-block !important;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: #888;
    height: 8px;
}

.page-num {
    position: absolute;
    bottom: 15px;
    right: 25px;
}

.logo {
    font-family: "roboto condensed";
    font-size: 60px !important;
    line-height: 38px !important;
}

.content[id*='page-'] {
    padding: 40px;
}

@media (max-width: 640px) {
    .content[id*='page-'] {
        padding:20px;
    }
}

@media (max-width: 450px), (max-height: 450px) {
    .content[id*='page-'] {
        padding:20px;
    }
}

[id*='book'] img{
    height: 335px;
    width: 220px;
}

.control-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.control-box p {
    margin: -20px;
}

.page-controls {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.page-control {
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 2px 3px rgba(0,0,0,0.23);
}

.page-control:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.17), 0 6px 8px rgba(0,0,0,0.23);
}
